.woocommerce #content input.button, 
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button, 
.woocommerce-page #content input.button, 
.woocommerce-page #respond input#submit, 
.woocommerce-page a.button, 
.woocommerce-page button.button, 
.woocommerce-page input.button,

.woocommerce #content div.product .woocommerce-tabs ul.tabs li a, 
.woocommerce div.product .woocommerce-tabs ul.tabs li a, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a,

.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, 
.woocommerce div.product .woocommerce-tabs ul.tabs li:before, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,

.woocommerce #content div.product .woocommerce-tabs ul.tabs li, 
.woocommerce div.product .woocommerce-tabs ul.tabs li, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,

.woocommerce ul.cart_list li img, 
.woocommerce ul.product_list_widget li img, 
.woocommerce-page ul.cart_list li img, 
.woocommerce-page ul.product_list_widget li img,

.woocommerce .woocommerce-error:before, 
.woocommerce .woocommerce-info:before, 
.woocommerce .woocommerce-message:before, 
.woocommerce-page .woocommerce-error:before, 
.woocommerce-page .woocommerce-info:before, 
.woocommerce-page .woocommerce-message:before,

.woocommerce .woocommerce-error, 
.woocommerce .woocommerce-info, 
.woocommerce .woocommerce-message, 
.woocommerce-page .woocommerce-error, 
.woocommerce-page .woocommerce-info, 
.woocommerce-page .woocommerce-message,

.woocommerce #payment, 
.woocommerce-page #payment,
.woocommerce #payment div.payment_box, 
.woocommerce-page #payment div.payment_box,
.woocommerce table.shop_table, 
.woocommerce-page table.shop_table,
.chosen-container-single .chosen-single,

.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt, 
.woocommerce #respond input#submit.alt, 
.woocommerce #content input.button.alt, 
.woocommerce-page a.button.alt, 
.woocommerce-page button.button.alt, 
.woocommerce-page input.button.alt, 
.woocommerce-page #respond input#submit.alt, 
.woocommerce-page #content input.button.alt,
.woocommerce span.onsale, 
.woocommerce-page span.onsale,

.woocommerce ul.products li.product a img, 
.woocommerce-page ul.products li.product a img{
	box-shadow: none !important;
	-o-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	text-shadow: none !important;
	-o-text-shadow: none !important;
	-webkit-text-shadow: none !important;
	border-radius: 0px !important;
	-o-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;	
}

.woocommerce ul.products li.product .onsale, 
.woocommerce-page ul.products li.product .onsale{
	margin: 0 0 0 0;
}


.woocommerce #content input.button, 
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button, 
.woocommerce-page #content input.button, 
.woocommerce-page #respond input#submit, 
.woocommerce-page a.button, 
.woocommerce-page button.button, 
.woocommerce-page input.button{
	font-weight: normal;
}

.woocommerce .content{
	display: block;
}

.woocommerce .woocommerce-error:before, 
.woocommerce .woocommerce-info:before, 
.woocommerce .woocommerce-message:before, 
.woocommerce-page .woocommerce-error:before, 
.woocommerce-page .woocommerce-info:before, 
.woocommerce-page .woocommerce-message:before{
	height: auto;
}

.input-text{
	border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-webkit-border-radius: 0;
	background: #f9f9f9;
	border: none;
	box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	resize: none;
	height: 42px;
	padding: 0 5px;
}

#coupon_code{
	height: auto;
}


