/*
 * The main colors
 */


$base-color: 			#666666;
$brand-color: 			#128ec4;
$brand-color-light: 	#addcf6;
$site-blue: 			#177cb1;
$site-blue--light: 		#98cbf1;
$base-border-color: 	lighten($base-color, 30%);
$c-highlight-grey: 		lighten(#dcdcdc, 10%);
$action-color: 			darken($base-color, 30%);

 
